﻿@model IEnumerable<Models.User>
    @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/__Layout.cshtml";
    }

    <h5 class="mt-3">Users</h5>
<hr/>
<admin>
    <a class="btn btn-outline-info" asp-action="Create">Add User</a>
</admin>

    <table class="table mt-3">
        <tr><th>Email</th><th>Actions</th><th></th></tr>
        @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <form asp-action="StartConversation" asp-route-id=@user.Id method="post">
                    <button type="submit" class="btn btn-outline-info">
                        Start Converstation
                    </button>
                </form>
            </td>
            <admin>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </admin>
        </tr>
    }
    </table>

