﻿@model Models.Conversation
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<a class="btn btn-outline-info" asp-controller="PrivateMessages" asp-action="Create" asp-route-id=@Model.Id>@Localizer["Create"]</a>
@foreach (Models.PrivateMessage t in Model.PrivateMessages)
{
    <li class="list-group-item">
        <b>@t.User.UserName</b>: @t.Message
    </li>
}