﻿@model IEnumerable<Models.Conversation>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "c4";
    Layout = "__Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <p>->Conversation</p>
                    <a class="btn btn-outline-info" asp-route-id=@item.Id asp-controller="Conversation" asp-action="Detail">@Localizer["Detail"]</a>

                </tr>
            }
        </tbody>
    </table>
</body>
</html>
