﻿@model Models.TopicMessage

@{
    ViewData["Title"] = "c4";
    Layout = "__Layout";
}

<div class="card container-fluid">
    <h5 class="mt-3">New Message</h5>
    <hr />
    <div class="col-md-4 card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="TopicId" value="@ViewBag.TopicId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-info" />
            </div>
        </form>
    </div>
</div>