﻿@model Models.PrivateMessage
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<h2>Create</h2>

<h4>PrivateMessage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserId" value=@ViewBag.UserId />
            </div>
            <div class="form-group">
                <div>@ViewBag.ConversationId</div>
                <div>@ViewBag.UserId</div>
                <input type="hidden" asp-for="ConversationId" value=@ViewBag.ConversationId />
            </div>
            <div class="form-group">
                <input type="submit" value=@Localizer["Create"] class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

