﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

@model string

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">@Localizer["NewRole"]</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">@Localizer["Add"]</button>
</form>