﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

@using Microsoft.AspNetCore.Identity
@model Secret.ViewModels.ChangeRoleViewModel

<h5 class="mt-3">Edit roles for @Model.UserEmail</h5>
<hr />
<form class="mt-3" asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
            }
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
</form>