﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<h5 class="mt-3">@Localizer["Roles"]</h5>
<table class="table mt-3">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a class="btn btn-outline-warning" asp-action="Create">@Localizer["AddRole"]</a>
<a class="btn btn-outline-warning" asp-action="UserList">@Localizer["UsersList"]</a>