﻿
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<Models.User>

<h5 class="mt-3">@Localizer["UsersList"]</h5>

<table class="table mt-3">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">@Localizer["Roles"]</a>
            </td>
        </tr>
    }
</table>