﻿@model Models.Section
@inject FServices.Services.Interfaces.IForumService ForumService;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div>
    <p><span class="fas fa-directions fa-lg"></span> @Model.Name</p>

    @if (User.Identity.IsAuthenticated)
    {
        <p class="mt-3">
            <a class="btn btn-outline-info" asp-controller="Topics" asp-action="Create/@{@Model.Id}"><span class="fas fa-plus fa-lg"></span>@Localizer["NewTopic"]</a>
        </p>
    }

    <ul class="list-group">
        @{await Html.RenderPartialAsync("_Topics", Model.Topics);}
    </ul>

</div>