﻿@using FServices.Services.Interfaces;
@inject IForumService ForumService
<ul class="list-group">
    @{
        var services = await ForumService.GetSections();

        @foreach (Models.Section s in services)
        {
    <li class="list-group-item">@{await Html.RenderPartialAsync("_DetailSection", s);}</li>
        }
    }
</ul>
