﻿@model IEnumerable<Models.Topic>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@foreach (Models.Topic t in Model)
{
    <li class="list-group-item">
        <a asp-action="TopicMessages" asp-route-topicId="@t.Id"><span class="fas fa-database fa-ms"></span> @t.Name</a>
        <admin class="float-right">
            <a asp-controller="Topics" asp-action="Delete" asp-route-id="@t.Id" class="btn btn-outline-info"><span class="fas fa-minus fa-lg"></span>@Localizer["Delete"]</a>
        </admin>
    </li>
}