﻿@using Secret.ViewModels;
@model IndexTopicMessagesViewModel;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "c4";
    Layout = "__Layout";
}
<div class="container-fluid mt-3 card">
    <div class="card-body">
        <div><span class="fas fa-directions fa-lg"></span> @Model.Topic.Name</div>
        <ul class="mt-3 list-group">
            @foreach (Models.TopicMessage item in Model.TopicMessages)
            {
                <li class="list-group-item">
                    <div>
                        <span class="fas fa-comment"></span>
                        <span>@item.Author.UserName</span> <div><div class="user-comment">@item.Message</div></div>
                        <user>
                            <a onclick="invoke(this);" message-id=@item.Id><div class="fas fa-heart"></div></a><span class="@item.Id ml-1">@item.Likes.Count()</span>
                        </user>
                    </div>
                    <admin class="float-right">
                        <a class="btn btn-outline-info" asp-action="Delete" asp-controller="TopicMessages" asp-route-id="@item.Id"><span class="fas fa-minus fa-lg"></span>@Localizer["Delete"]</a>
                    </admin>
                </li>
            }

        </ul>
        <a class="btn btn-outline-info mt-3" asp-action="Create" asp-controller="TopicMessages" asp-route-id="@Model.Topic.Id"><span class="fas fa-plus fa-lg"></span>@Localizer["AddMessage"]</a>
        <page-link class="mt-3" topic-id=@Model.Topic.Id page-model="Model.PageViewModel" page-action="TopicMessages"></page-link>
    </div>
</div>