﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/css/bootstrap.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
    <!--меню-->
    <nav class="navbar navbar-dark bg-dark">
        <span class="fab fa-angellist fa-3x"></span>
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Secret</a>
        @if (User.Identity.IsAuthenticated)
        {
        <div class="col-8">
            <div class="nav-item float-left">
                <a class="nav-link text-info" asp-controller="Users">Users</a>
            </div>
            <user>
                <div class="nav-item float-left">
                    <a class="nav-link text-info" asp-controller="Conversation">Conversations</a>
                </div>
            </user>
            <admin>
                <div class="nav-item float-left">
                    <a class="nav-link text-info" asp-controller="Roles">Roles</a>
                </div>
                <div class="nav-item float-left">
                    <a class="nav-link text-info" asp-controller="Sections">Sections</a>
                </div>
            </admin>
        </div>
            <div class="col-2 btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Identity.Name
                </button>
                <div class="dropdown-menu">
                    <form method="post" asp-controller="Account" asp-action="LogOff">
                        <input class="dropdown-item" type="submit" value="Log Out" />
                    </form>
                </div>
            </div>

            <!--           <form asp-action="Delete" asp-route-id="." method="post">
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id=".">Изменить</a>
                <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id=".">Сменить пароль</a>
                <button type="submit" class="btn btn-sm btn-danger">
                    Удалить
                </button>
            </form>-->
        }
        else
        {
            <div class="col-2">
                <form method="post" asp-controller="Account" asp-action="Login" class="mr-1 float-left form-inline">
                    <input class="btn btn-outline-secondary" type="submit" value="Login" />
                </form>
                <form method="post" asp-controller="Account" asp-action="Register" class="form-inline">
                    <input class="btn btn-outline-info" type="submit" value="Sign Up" />
                </form>
            </div>
        }
    </nav>
    <!--основной контент-->
    <div class="container body-content">
        <div id="chatroom" style="overflow:scroll; height:200px;"></div>
        <div id="inputForm" class="mb-3 mt-3">
            <user>
                <input type="text" placeholder="Message..." id="message" />
                <input type="button" class="btn btn-outline-info ml-3" id="sendBtn" value="Send" />
            </user>
        </div>
    </div>
        @RenderBody()
        <hr />
        <admin class="mt-3">
            @{await Html.RenderPartialAsync("_Admin");}
        </admin>
        <hr />
        @await Html.PartialAsync("_SelectLanguage")
        <footer></footer>
    </div>
    <environment include="Development">
        <script src="~/lib/js/jquery.js"></script>
        <script src="~/lib/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/js/jquery.min.js"></script>
        <script src="~/lib/js/bootstrap.bundle.min.js"></script>
    </environment>
    <script src="~/lib/js/signalr.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>