﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div>

@await Component.InvokeAsync("SectionsStat")
@await Component.InvokeAsync("UsersStat")
<span class="text-secondary">@Localizer["Language"]: @Localizer["Header"]</span>

</div>