﻿.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.strike {
    text-decoration: line-through;
}

blockquote {
    display: block;
    padding: 20px;
    background-color: lightgrey;
}

.text-align .align--center {
    text-align: center;
}

.text-align .align--left {
    text-align: left;
}

.text-align .align--right {
    text-align: right;
}

.text-align .align--justify {
    text-align: justify;
}

textarea {
    display: block;
}
