﻿@model IEnumerable<Models.Section>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<h5 class="mt-3">Sections</h5>
<hr />

<p>
    <a class="btn btn-outline-info" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-outline-info ml-1" asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a>
                    <a class="btn btn-outline-info ml-1" asp-action="Details" asp-route-id="@item.Id">@Localizer["Detail"]</a>
                    <a class="btn btn-outline-info ml-1" asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
